/* fonts */

@font-face {
    font-family: "playfair-display";
    src: url(assets/fonts/playfair-display.ttf);
}

@font-face {
    font-family: "roboto";
    src: url(assets/fonts/roboto.ttf);
}


:root {
    /* colors */
    --blue: #0891b2;
    --gray: #575655;
    --red: #9e1c1c;
    --purple: #7c75ca;
    --green: #5e8f4d;
    --pink: #c363b4;
    --orange: #d88f39;
    --blue-light: #4ba2d2;

    font-size: 16px;
    font-family: "roboto", sans-serif;
}


header, main, footer {
    padding: 64px 96px;
}

header {
    display: flex;
    align-items: center;
}

#header-shape {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 628px;
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 100%);
    background-color: var(--blue);
}

#profile-pic {
    flex: 0 0 auto;
    width: 500px;
    height: 500px;
}

#about-me {
    background-color: white;
    padding: 32px;
    min-height: 300px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0,40%);

    > h2 {
        font-size: 2.5rem;
        font-family: "playfair-display";
        font-weight: lighter;
        margin-bottom: 8px;
    }

    > p {
        font-size: 1.5rem;
        line-height: 1.5;
        color: var(--gray);
        margin-bottom: auto;
    }
}

main {
    > h2 {
        font-size: 2.5rem;
        font-family: "playfair-display";
        font-weight: lighter;
        margin-bottom: 16px;
    }
}

#my-work {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 32px;
    justify-items: center;
}

.project {
    display: flex;
    flex-direction: column;
    padding: 16px;
    min-height: 400px;
    max-width: 300px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0,40%);

    > div:first-child {
        height: 200px;
        font-family: "playfair-display";
        font-weight: lighter;
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;
    }

    > div:nth-child(2) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 16px 0;
    }

     h3 {
        font-family: "playfair-display";
        font-size: 1.5rem;
        font-weight: lighter;
     }

     nav {
        display: flex;
        gap: 8px;
     }

     p {
        color: var(--gray);
     }
}

.project:nth-child(1) > div:first-child {
    background-color: var(--red);
}

.project:nth-child(2) > div:first-child {
    background-color: var(--purple);
}

.project:nth-child(3) > div:first-child {
    background-color: var(--green);
}

.project:nth-child(4) > div:first-child {
    background-color: var(--pink);
}

.project:nth-child(5) > div:first-child {
    background-color: var(--orange);
}

.project:nth-child(6) > div:first-child {
    background-color: var(--blue-light);
}

footer {
    background-color: var(--blue);
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

#contact-info {
    flex: 0 1 auto;
    color: white;

    > h2 {
        font-size: 2.5rem;
        font-family: "playfair-display";
        font-weight: lighter;
    }

    > p {
        font-size: 1.5rem;
        margin: 32px 0;
        display: flex;
        align-items: center;
        gap: 8px;

        > img {
            filter: invert(100%);
        }
    }

    > nav {
        display: flex;
        gap: 16px;
    }
}

#second-pic {
    flex: 0 2 750px;
    height: 500px;
}

body > p {
    background-color: var(--blue);
    color: white;
    padding-bottom: 8px;
    text-align: center;

    > a {
        color: white;
    }
}



@media screen and (max-width: 1200px) {
    header, main, footer {
        padding: 32px;
    }

    header {
        display: block;
        min-height: 400px;
    }

    #profile-pic {
        width: 400px;
        height: 400px;
        float: left;
        margin: 0 16px 16px 0;
    }

    #about-me {
        margin: 64px 64px 0px 64px;
        min-height: 500px;
    }

    #my-work {
        grid-template-columns: repeat(2, 1fr);
    }

    #second-pic {
        max-width: 300px;
        height: 400px;
    }
}


@media screen and (max-width: 700px) {
    header, main, footer {
        padding: 16px;
    }

    header {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    #profile-pic {
        width: 300px;
    }

    #about-me {
        margin: 0;
    }

    #my-work {
        grid-template-columns: 1fr;
        row-gap: 16px;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    #contact-info > nav {
        justify-content: center;
    }

    #second-pic {
        flex: 0 0 auto;
    }
}