/* fonts */

@font-face {
    font-family: "playfair-display";
    src: url(assets/fonts/playfair-display.ttf);
}

@font-face {
    font-family: "roboto";
    src: url(assets/fonts/roboto.ttf);
}


:root {
    /* colors */
    --blue: #0891b2;
    --gray: #575655;
    --red: #9e1c1c;
    --purple: #7c75ca;
    --green: #5e8f4d;
    --pink: #c363b4;
    --orange: #d88f39;
    --blue-light: #4ba2d2;

    font-size: 16px;
    font-family: "roboto", sans-serif;
}


header, main, footer {
    padding: 64px 96px;
}

header {
    display: flex;
    align-items: center;
}

#header-shape {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 628px;
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 100%);
    background-color: var(--blue);
}

#profile-pic {
    flex: 0 0 auto;
    width: 500px;
    height: 500px;
}

#about-me {
    background-color: white;
    padding: 32px;
    min-height: 300px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0,40%);

    > h2 {
        font-size: 2.5rem;
        font-family: "playfair-display";
        font-weight: lighter;
        margin-bottom: 8px;
    }

    > p {
        font-size: 1.5rem;
        line-height: 1.5;
        color: var(--gray);
        margin-bottom: auto;
    }
}

main {
    > h2 {
        font-size: 2.5rem;
    }
}

#my-work {
    height: 500px;
    background-color: whitesmoke;
}

footer {
    background-color: var(--blue);
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

#contact-info {
    flex: 0 1 auto;
    color: white;

    > h2 {
        font-size: 2.5rem;
        font-family: "playfair-display";
        font-weight: lighter;
    }

    > p {
        font-size: 1.5rem;
        margin: 32px 0;
        display: flex;
        align-items: center;
        gap: 8px;

        > img {
            filter: invert(100%);
        }
    }
}

#second-pic {
    flex: 0 2 800px;
    height: 500px;
}



@media screen and (max-width: 1200px) {
    header, main, footer {
        padding: 32px;
    }

    header {
        display: block;
        min-height: 400px;
    }

    #profile-pic {
        width: 400px;
        height: 400px;
        float: left;
        margin: 0 16px 16px 0;
    }

    #about-me {
        margin: 64px 64px 0px 64px;
        min-height: 500px;
    }

    #second-pic {
        max-width: 350px;
        height: 400px;
    }
}


@media screen and (max-width: 700px) {
    header, main, footer {
        padding: 16px;
    }

    header {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    #profile-pic {
        width: 300px;
    }

    #about-me {
        margin: 0;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    #contact-info > p:last-child {
        line-break: anywhere;
    }

    #second-pic {
        flex: 0 0 auto;
    }
}