:root {
    font-size: 16px;
}

header, main, footer {
    padding: 64px 96px;
}

header {
    background-color: blue;
    display: flex;
    align-items: center;
}

#profile-pic {
    flex: 0 0 auto;
    width: 500px;
    height: 500px;
    border: 1px solid black;
}

#about-me {
    background-color: white;

    > h2 {
        font-size: 2rem;
    }

    > p {
        font-size: 1.5rem;
    }
}

main {
    > h2 {
        font-size: 2rem;
    }
}

#my-work {
    height: 500px;
    background-color: whitesmoke;
}

footer {
    background-color: blue;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

#contact-info {
    flex: 0 1 auto;

    > h2 {
        font-size: 2rem;
    }

    > p {
        font-size: 1.5rem;
        margin: 32px 0;
    }
}

#second-pic {
    flex: 0 2 800px;
    height: 500px;
    border: 1px solid black;
}



@media screen and (max-width: 1200px) {
    header, main, footer {
        padding: 32px;
    }

    header {
        display: block;
        min-height: 400px;
    }

    #profile-pic {
        width: 400px;
        height: 400px;
        float: left;
    }

    #about-me {
        margin: 64px 64px 0px 64px;
        min-height: 500px;
    }

    #second-pic {
        max-width: 350px;
        height: 400px;
    }
}


@media screen and (max-width: 700px) {
    header, main, footer {
        padding: 16px;
    }

    header {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    #profile-pic {
        width: 300px;
    }

    #about-me {
        margin: 0;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    #contact-info > p:last-child {
        line-break: anywhere;
    }

    #second-pic {
        flex: 0 0 auto;
        width: 100%;
        height: 400px;
    }
}